/* start global rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* border: steelblue solid; */
}
/* start variables  */
:root {
  --main-color: #19c8fa;
  --sections-padding: 100px 0;
  --transparent-color: rgb(15 116 143 / 60%);
}
/* end variables  */

/* Small  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules  */
/* start components  */

.main-heading {
  text-align: center;
  padding-bottom: 100px;
}
.main-heading h2 {
  position: relative;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.main-heading p {
  width: 500px;
  max-width: 100%;
  line-height: 2;
  margin: 0 auto;
  color: #777;
}
.main-heading h2::before {
  content: "";
  height: 1px;
  width: 120px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  background-color: #333;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #333;
  border-radius: 50%;
  left: 50%;
  bottom: -38px;
  transform: translateX(-50%);
  background-color: white;
}
/* end components  */
/* start header  */
header {
  position: fixed;
  background-color: black;
  left: 0;
  width: 100%;
  z-index: 4;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
  /* border-bottom: 2px solid black; */
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: black;
  width: calc(100% - 45px);
  bottom: 0;
  left: 30px;
}
header .logo {
  background-color: white;
  border: none;
}
header .logo img {
  height: 50px;
}
header .container nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
header .container nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header {
    padding: 0;
  }
  header .container nav ul {
    display: none;
  }
  header .container nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(0 0 0 / 40%);
    top: 100%;
    right: 105px;
    width: auto;
  }
  header .container nav ul li a {
    padding: 15px !important;
    color: white;
    text-align: center;
  }
}
header .container nav ul a {
  padding: 40px 10px;
  display: block;
  /* border: 1px solid cadetblue; */
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s;
  position: relative;
  z-index: 1;
  color: white;
}
header .container nav ul a.active,
header .container nav ul a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .container nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid black;
}
header .container nav .form i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 20px;
}
header .container nav .toggle-menu {
  font-size: 22px;
}
@media (min-width: 768px) {
  header .container nav .toggle-menu {
    display: none;
  }
}

/* end header  */
/* start landing  */
.landing {
  min-height: 100vh;
  background-color: blueviolet;
  background-image: url(../images/owl-g2a7893d9b_1920.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
}
.landing .text .content {
  max-width: 500px;
}
.landing .text h2 {
  font-size: 25px;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text p {
  line-height: 1.7;
}
.landing .change-background {
  position: absolute;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .fa-angle-left {
  left: 20px;
  cursor: pointer;
}
.landing .fa-angle-left:hover,
.landing .fa-angle-right:hover {
  color: var(--main-color);
}
.landing .fa-angle-right {
  right: 20px;
  cursor: pointer;
}
.bullets {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
.bullets li {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border-radius: 50%;
  border: 1px solid white;
}
.bullets li.active {
  background-color: var(--main-color);
  border-color: var(--transparent-color);
}
/* end landing  */
/* start services  */
.services {
  padding: var(--sections-padding);
}
.services .services-content {
  display: block;
}
@media (min-width: 767px) {
  .services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px 40px;
  }
}
@media (min-width: 992px) {
  .services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px 20px;
  }
}
.services .services-content .box {
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  text-align: center;
  padding: 20px 5px;
  cursor: pointer;
}
.services .services-content .box:hover {
  background-color: #eee;
  /* color: white; */
}
.services .services-content .box i {
  margin: 0 0 40px;
  font-size: 30px;
}
.services .services-content .box h2 {
  margin-bottom: 20px;
  color: var(--main-color);
}
.services .services-content .box p {
  line-height: 1.7;
}
/* end services  */

/* start design  */
.design {
  padding: var(--sections-padding);
  height: 600px;
  position: relative;
  background-image: url(../images/background-gf78e53f22_1280.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image {
  text-align: center;
}
.design .image img {
  position: relative;
  height: 500px;
  bottom: -150px;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}

.design .text {
  /* position: absolute; */
  right: 0;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  display: block;
}
.design .text h2 {
  font-size: 25px;
  margin-bottom: 30px;
  padding-left: 13px;
  text-transform: uppercase;
  font-weight: normal;
}
.design .text li {
  display: block;
  width: auto;
  text-transform: capitalize;
  font-size: 18px;
  padding: 15px;
}
.design .text li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 15px;
}
/* end design  */
/* start portfolio  */
.portfolio {
  padding: var(--sections-padding);
}
@media (max-width: 340px) {
  .portfolio .shuffle {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 341px) {
  .portfolio .shuffle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.portfolio .shuffle li {
  padding: 1em;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
}
.portfolio .shuffle li.active,
.portfolio .shuffle li:hover {
  color: white;
  background-color: var(--main-color);
}
/* with flex system  */

/* .portfolio .img-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.portfolio .img-container .box {
  width: calc(100% / 3);
}
.portfolio .img-container .box img {
  width: 100%;
  height: calc(100% - 80px);
}
.portfolio .img-container .box .caption {
  padding: 10px 20px;
}
.portfolio .img-container .box .caption h4 {
  text-transform: capitalize;
  font-weight: normal;
  font-size: 20px;
}
.portfolio .img-container .box .caption p {
  color: var(--main-color);
  text-transform: capitalize;
} */
/* end flex system  */

/* with grid system  */
.portfolio .img-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  /* grid-template-columns: repeat(2, 400px); */
  /* grid-template-rows: repeat(3, 1fr); */
}
@media (min-width: 992px) {
  .portfolio .img-container {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    /* grid-template-columns: repeat(2, 400px); */
    /* grid-template-rows: repeat(3, 1fr); */
  }
}
.portfolio .img-container .box {
  /* border: 1px solid chartreuse; */
  height: 350px;
}
.portfolio .img-container .box img {
  width: 100%;
  height: calc(80%);
}
.portfolio .img-container .box .caption {
  padding: 10px 20px;
}
.portfolio .img-container .box .caption h4 {
  text-transform: uppercase;
  font-weight: normal;
}
.portfolio .img-container .box .caption p {
  text-transform: capitalize;
  font-size: 14px;
  color: var(--main-color);
}
/* end grid system  */
/* end portfolio  */
/* start awesome video  */
.awesome {
  padding: 150px 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blue-awesome {
  background-color: var(--transparent-color);
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.blue-awesome h2{
  font-size: 25px;
  font-weight: lighter;
}
.blue-awesome button {
  padding: 5px 30px;
  color: white;
  background-color: black;
  cursor: pointer;
}
.blue-awesome h2,
.blue-awesome button {
  text-transform: uppercase;
  text-align: center;
}
/* start awesome video  */
/* start about us  */
.about-us {
  position: relative;
  padding: 100px 0 0;
}
.about-us .main-heading{
  padding-bottom: 0;
}
.about-us .image {
  position: relative;
  text-align: center;
  /* z-index: 2; */
  overflow: hidden;
}
.about-us .image img{
  position: relative;
  top: 120px;
  right: 40px;
  /* z-index: 2; */
}
@media (max-width: 767px) {
  .about-us {
    padding-bottom: 100px;
  }
  .about-us .image {
    display: none;
  }
}
/* end about us  */
/* start statistics  */
.statistics {
  background-color: black;
  padding: 100px 0;
  text-align: center;
}
@media (max-width: 576px) {}
.statistics .container{
  background-color: var(--transparent-color);
  color: white;
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (min-width: 577px) {
  .statistics .container{
    background-color: var(--transparent-color);
    color: white;
    padding: 50px 25px;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 300px);
  }
}
@media (min-width: 768px) {
  .statistics .container{
    background-color: var(--transparent-color);
    color: white;
    padding: 50px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.statistics .stat-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.statistics .stat-box h2{
  font-size: 50px;
}
/* end statistics  */
/* start skills  */
@media (max-width: 768px) {
  .skills .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .separator {
    display: block;
    width: 100%;
    height: 80px;
    margin: 25px 0;
    background-color: var(--transparent-color);
  }
  .testimonials .testi{
    margin-bottom: none;
  }
}
.skills .container {
  text-align: center;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}
.testimonials {
  display: flex;
  height: 100%;
  width: 45%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* gap: 5px; */
}
.testimonials h3,
.our-skills h3{
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 20px;
}
.testimonials .testi p,
.our-skills > p{
  font-size: 14px;
  margin-bottom: 45px;
}
.testimonials .box {
  display: flex;
  width: 100%;
  min-width: 280px;
  /* margin-top: 30px; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 35px;
}
.testimonials .min-box {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials .min-box .img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #eee;
}
.testimonials .min-box .text{
  width: 60%;
  position: relative;
  padding-bottom: 30px;
  border-bottom: 1px solid;
}
.testimonials .min-box .text p:last-of-type {
  display: inline-block;
  position: absolute;
  right: 0;
  width: auto;
  font-size: 13px;
  font-weight: 100;
  font-style: italic;
  color: #777;
}
.our-skills {
  position: relative;
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.our-skills .box {
  width: 100%;
  min-width: 280px;
  text-align: left;
  padding: 0 35px;
}
.our-skills .box .min-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}
.our-skills .box .min-box h4{
  margin-left: 5px;
  font-weight: 100;
}
.our-skills .box .min-box .bar{
  width: 100%;
  height: 30px;
  background-color: #eee;
}
.our-skills .box .min-box .bar-deg{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--main-color);
}
.our-skills .box .min-box .bar-01{
  width: 95%;
}
.our-skills .box .min-box .bar-02{
  width: 85%;
}
.our-skills .box .min-box .bar-03{
  width: 40%;
}
.our-skills .box .min-box .bar-04{
  width: 60%;
}
.bullets-skills {
  display: flex;
  margin-top: 55px;
}
.bullets-skills li {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 50%;
  border: 1px solid black;
}
.bullets-skills li.active {
  background-color: var(--main-color);
  border-color: var(--transparent-color);
}
/* end skills  */
/* start quote  */
.quote {
  background-color: black;
  color: white;
  text-align: center;
  padding: 100px 0;
  font-size: 23px;
  text-transform: uppercase;
}
.quote p {
  font-size: 14px;
  margin-top: 15px;
}
/* end quote  */
/* start pricing  */
.pricing {
  padding: 100px 0;
}
.pricing .box {
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricing .box button {
  margin-top: 40px;
  font-size: 15px;
  padding: 10px 25px;
  background-color: white;
  border: 1px solid var(--main-color);
  cursor: pointer;
}
.pricing .box button:hover {
  background-color: var(--main-color);
  color: white;
}
@media (max-width: 578px) {
  .pricing .pr-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
@media (min-width: 578px) {
  .pricing .pr-cont {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 25px;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    grid-template-rows: repeat(2, auto);
  }
  .separator {
    display: none;
  }
}
@media (min-width: 992px) {
  .pricing .pr-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}
.pricing .contact {
  width: 40%;
  margin: 60px auto 0;
  text-align: center;
}
.pricing .contact p {
  text-transform: capitalize;
}
.pricing .contact button {
  margin-top: 40px;
  font-size: 15px;
  padding: 10px 25px;
  color: white;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  cursor: pointer;
}
.pricing .pr-cont .box .head {
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .pr-cont .box .head p{
  text-transform: uppercase;
}
.pricing .pr-cont .box .head h3{
  font-size: 55px;
  position: relative;
}
.pricing .pr-cont .box .head h3::before{
  content: "$";
  top: 17px;
  left: 40px;
  position: absolute;
  font-size: 20px;
  /* width: 3px; */
  /* height: 3px; */
}
.pricing .pr-cont .box .head h3::after{
  content: "/MO";
  position: absolute;
  right: 30px;
  bottom: 17px;
  font-size: 16px;
}
.pricing .feat-box {
  text-transform: capitalize;
  /* padding: 10px 0; */
  border-bottom: 1px solid var(--main-color);
}
.pricing .feat-box .feat-3{
  width: 50%;
  font-size: 15px;
  padding: 10px 0;
  margin: 0 auto;
  border-bottom: 1px solid var(--main-color);
}
.pricing .feat-box .last-feat {
  padding: 10px 0;
}
/* end pricing  */
/* start mail  */
.mail {
  position: relative;
  padding: 100px 0;
  color: white;
  /* text-align: center; */
  background-color: black;
}
@media (max-width: 992px) {
  .mail .container {
    text-align: center;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap: 10px;
  }
}
.mail .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.mail .container .mail-box {
  position: relative;
  margin: 0 auto;
  width: 70%;
  min-width: 280px;
  /* background-color: #19c8fa; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mail #mail {
  position: relative;
  width: 75%;
  margin: 0;
  display: inline;
  padding: 15px 30px;
  border: none;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-right: none;
}
.mail #mail::-webkit-input-placeholder {
  color: white;
}
.fa-envelope {
  position: absolute;
  left: 10px;
}
.mail #subs {
  width: auto;
  display: inline;
  margin: 0;
  color: white;
  padding: 15px 20px;
  background-color: var(--main-color);
  border: 1px solid white;
  border-left: none;
  cursor: pointer;
}
/* end mail  */
/* start contact-us  */
.contact-us {
  padding: 100px 0;
}
.contact-us .form {
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  min-width: 260px;
  max-width: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.contact-us .form #name,
.contact-us .form #email2 {
  padding: 15px 10px;
  width: 100%;
}
.contact-us .form #message{
  width: 100%;
  padding: 20px 10px;
}
.contact-us .form #send2 {
  margin-top: 40px;
  width: 150px;
  margin: 0 auto;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 25px;
  color: white;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  cursor: pointer;
}
#message::-webkit-input-placeholder,
.contact-us .form #name::-webkit-input-placeholder,
.contact-us .form #email2::-webkit-input-placeholder {
  color: black;
}
/* end contact-us  */